site_name: NetLinx Language Help
site_description: Help reference for the NetLinx programming language.
site_url: https://norgate-av.github.io/netlinx-help
repo_url: https://github.com/Norgate-AV/netlinx-help
repo_name: norgate-av/netlinx-help

plugins:
  - search
  - social
  - tags

extra:
  version:
    provider: mike

theme:
  name: material

  language: en

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - content.action.edit
    - content.code.copy
    - content.code.select
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - navigation.footer

  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: indigo
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: indigo
      accent: deep purple

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details

nav:
  - Home: index.md
  - Language Elements:
      - Mainline: Language Elements/Mainline.md
      - Statements and Expressions: Language Elements/Statements_and_Expressions.md
      - Keywords: Language Elements/Keywords.md
      - Devices: Language Elements/Devices.md
