site_name: NetLinx Help
site_description: Documentation for NetLinx
site_url: https://mydomain.org/mysite
theme:
  name: material
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: indigo
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: indigo
      accent: deep purple
nav:
  - Language Elements:
  

