site_name: NetLinx Help
site_description: Documentation for NetLinx
site_url: https://norgate-av.github.io/netlinx-help
repo_url: https://github.com/Norgate-AV/netlinx-help
repo_name: Norgate-AV/netlinx-help

plugins:
  - search
  - tags

extra:
  version:
    provider: mike

theme:
  name: material

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - content.action.edit
    - content.code.copy
    - content.code.select
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - navigation.footer

  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: indigo
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: indigo
      accent: deep purple

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
