site_name: NetLinx Language Help
site_description: Help reference for the NetLinx programming language.
site_url: https://norgate-av.github.io/netlinx-help
repo_url: https://github.com/Norgate-AV/netlinx-help
repo_name: norgate-av/netlinx-help

plugins:
  - optimize
  - search
  - social
  - tags

extra:
  version:
    provider: mike
    default: stable

theme:
  name: material

  language: en

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - content.action.edit
    - content.code.copy
    - content.code.select
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - navigation.footer

  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: indigo
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: indigo
      accent: deep purple

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details

nav:
  - Home: index.md
  - Language Elements:
      - Mainline: Language-Elements/Mainline.md
      - Statements and Expressions: Language-Elements/Statements_and_Expressions.md
      - Keywords: Language-Elements/Keywords.md
      - Devices: Language-Elements/Devices.md
      - Device Numbers - Supported Ranges by Device Type: Language-Elements/Device_Numbers-_Supported_Ranges_by_Device_Type.md
      - Virtual Devices: Language-Elements/Virtual_Devices.md
      - Comments: Language-Elements/Comments.md
      - Identifiers:
          - Language-Elements/Identifiers/index.md
          - Devices: Language-Elements/Devices.md
          - Device Arrays: Language-Elements/Identifiers/Device_Arrays.md
          - Device-Channels and Device-Channel Arrays: Language-Elements/Identifiers/Device_Channels_and_Device_Channel_Arrays.md
          - Device-Level Arrays: Language-Elements/Identifiers/Device_Level_Arrays.md
          - Data Sets: Language-Elements/Identifiers/Data_Set_Structures.md
          - Virtual Devices: Language-Elements/Virtual_Devices.md
      - Variables & Constants:
          - Language-Elements/Variables-Constants/index.md
          - Variables: Language-Elements/Variables-Constants/Variables.md
          - Local Variables: Language-Elements/Variables-Constants/Local_Variables.md
          - Global Variables: Language-Elements/Variables-Constants/Global_Variables.md
          - Persistant Variables: Language-Elements/Variables-Constants/Persistent_Variables.md
          - Variables Keywords: Language-Elements/Variables-Constants/Variables_Keywords.md
          - DEFINE_MUTUALLY_EXCLUSIVE and Variables: Language-Elements/Variables-Constants/DEFINE_MUTUALLY_EXCLUSIVE_and_Variables.md
          - Constants: Language-Elements/Variables-Constants/Constants.md
      - Subroutines (Functions):
          - Language-Elements/Subroutines-Functions/index.md
