p {
   margin-right:6.50pt;
   text-align:left;
   font-family:Arial;
   font-weight:normal;
   font-size:8pt;
   color:#3e1883;
   background-color:Transparent;
   line-height:11.5pt;
   margin-left:12px;
   margin-bottom:4pt;
   margin-top:2pt;
}
LI.p {
      text-align:left;
      font-family:Arial;
      font-weight:normal;
      font-size:8pt;
      color:#3e1883;
      line-height:11.5pt;
}
H1 {
    margin-left:5.75pt;
    margin-right:6.50pt;
    margin-bottom:9.00pt;
    text-align:left;
    font-weight:bold;
    font-weight:bold;
    font-size:12pt;
    color:#371675;
    font-variant:small-caps;
    background-color:Transparent;
    font-family:Arial, sans-serif;
    margin-top:40.5pt;
}
LI.h1 {
       text-align:left;
       font-weight:bold;
       font-weight:bold;
       font-size:12pt;
       color:#371675;
       font-variant:small-caps;
       font-family:Arial, sans-serif;
}
h2 {
    margin-left:5.75pt;
    margin-right:6.50pt;
    margin-top:6.00pt;
    margin-bottom:2.00pt;
    text-align:left;
    font-weight:bold;
    font-weight:bold;
    font-family:Arial, sans-serif;
    font-size:9pt;
    color:#000080;
}
LI.h2 {
       text-align:left;
       font-weight:bold;
       font-weight:bold;
       font-family:Arial, sans-serif;
       font-size:9pt;
       color:#003399;
}
H3 {
    margin-left:5.75pt;
    margin-right:6.50pt;
    margin-top:6.00pt;
    margin-bottom:2.00pt;
    text-align:left;
    font-family:Arial;
    font-size:8pt;
    font-weight:bold;
    font-weight:bold;
    font-size:14.0pt;
}
LI.h3 {
       text-align:left;
       font-family:Arial;
       font-size:8pt;
       font-weight:bold;
       font-weight:bold;
       font-size:14.0pt;
}
H4 {
    margin-left:18.00pt;
    margin-right:6.50pt;
    margin-top:4.00pt;
    margin-bottom:0.00pt;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    font-weight:bold;
    font-size:12.0pt;
}
LI.h4 {
       text-align:left;
       font-family:Arial;
       font-size:12pt;
       font-weight:bold;
       font-size:12.0pt;
}
LI.h5 {
       text-align:left;
       font-family:Arial;
       font-size:11pt;
       font-weight:bold;
       font-size:10.0pt;
}
LI.h6 {
       text-align:left;
       font-family:Arial;
       font-size:11pt;
       font-style:italic;
       font-weight:bold;
       font-size:8.0pt;
}
LI.h6-Heading7 {
                text-align:left;
                font-family:Arial;
                font-size:8pt;
}
LI.h6-Heading8 {
                text-align:left;
                font-family:Arial;
                font-size:8pt;
                font-style:italic;
}
LI.h6-Heading9 {
                text-align:left;
                font-family:Arial;
                font-size:9pt;
                font-style:italic;
}
LI.p-footnote-text {
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
}
LI.p-Topic-Text-Indent {
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
                        text-align:left;
                        font-family:Arial;
                        font-size:8pt;
}
LI.p-Normal-Indent {
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
}
LI.p-Tip-Note-Heading {
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
                       text-align:left;
                       font-family:Arial;
                       font-size:8pt;
                       font-weight:bold;
}
LI.p-Tip-Note-Text {
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:8pt;
}
LI.p-Tip-Note-Text-Bulleted {
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
                             text-indent:-9.35pt;
                             text-align:left;
                             font-family:Arial;
                             font-size:8pt;
}
LI.p-Topic-Text-Bulleted {
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
}
LI.p-Topic-Text-Numbered {
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:8pt;
}
LI.p-Topic-Text-Onestep {
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
                         text-indent:-9.35pt;
                         text-align:left;
                         font-family:Arial;
                         font-size:8pt;
}
LI.p-Body-Text-bt {
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
                   text-align:left;
                   font-family:Arial, sans-serif;
                   font-size:8pt;
                   line-height:11.5pt;
}
LI.p-Bullet {
             text-indent:-18.00pt;
             text-align:left;
             line-height:14.00pt;
             font-size:8pt;
             font-family:Arial, sans-serif;
}
LI.p-Bullet-sub {
                 text-indent:-18.00pt;
                 text-align:left;
                 line-height:14.00pt;
                 font-family:Palatino;
                 font-size:8pt;
}
LI.p-Bulletsub {
                text-indent:-18.00pt;
                text-align:left;
                line-height:14.00pt;
                font-family:Palatino;
                font-size:8pt;
}
LI.p-caption {
              text-align:left;
              font-family:Swis721 Ex BT;
              font-size:8pt;
              font-weight:bold;
}
LI.p-Caption-Text {
                   text-align:left;
                   line-height:12.00pt;
                   font-family:Helvetica;
                   font-size:8pt;
}
P.Document-Map {
                margin-left:5.75pt;
                margin-right:6.50pt;
                margin-top:4.00pt;
                margin-bottom:0.00pt;
                text-align:left;
                background-color:#000080;
                font-family:Tahoma;
                font-size:8pt;
}
LI.p-Document-Map {
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
                   text-align:left;
                   font-family:Tahoma;
                   font-size:8pt;
}
LI.p-footer {
             text-align:left;
             font-family:Arial;
             font-size:8pt;
}
LI.p-header {
             text-align:left;
             font-family:Arial;
             font-size:8pt;
}
LI.p-NoteText {
               text-align:left;
               font-size:8pt;
               font-family:Arial, sans-serif;
}
LI.p-Step {
           text-indent:-18.00pt;
           text-align:left;
           line-height:14.00pt;
           font-size:8pt;
           font-family:Arial, sans-serif;
}
LI.p-Step-Sub {
               text-indent:-18.00pt;
               text-align:left;
               line-height:14.00pt;
               font-family:Palatino;
               font-size:8pt;
}
LI.p-Table-Com {
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
                text-align:left;
                line-height:14.00pt;
                font-family:LetterGothic;
                font-size:8pt;
}
LI.p-Table-Head {
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-weight:bold;
                 font-family:Arial, sans-serif;
}
LI.p-Table-Heading {
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
                    text-align:left;
                    font-family:Swis721 Ex BT;
                    font-size:8pt;
                    font-weight:bold;
}
LI.p-Table-Text {
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
}
P.Prgm-Cmmnd {
              margin-left:18.00pt;
              margin-right:4.50pt;
              text-align:left;
              font-family:Courier New;
              color:#800000;
              font-size:8pt;
              margin-top:1px;
              margin-bottom:1px;
}
LI.p-Prgm-Cmmnd {
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 color:#800000;
                 font-size:8pt;
}
LI.p-Caution {
              text-indent:-18.00pt;
              text-align:left;
              line-height:12.00pt;
              font-family:Helvetica;
              font-size:8pt;
}
LI.p-Bullet-for-Related-Manuals {
                                 text-indent:-18.00pt;
                                 text-align:left;
                                 line-height:14.00pt;
                                 color:#0000ff;
                                 font-style:italic;
                                 font-size:8pt;
                                 font-family:Arial, sans-serif;
}
LI.p-toc-1 {
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
            text-align:left;
            font-family:Swis721 Ex BT;
            font-size:10pt;
            font-weight:bold;
}
LI.p-toc-2 {
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
}
LI.p-Callout {
              text-align:left;
              font-size:8pt;
              font-family:Arial, sans-serif;
}
LI.p-bulletblank {
                  text-align:left;
                  font-size:8pt;
}
LI.p-Style0 {
             text-align:left;
             font-family:Arial;
             font-size:8pt;
}
LI.p-Body-Text-1-bt1 {
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
                      text-align:left;
                      font-size:8pt;
                      line-height:11.5pt;
}
LI.p-Block-Text {
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 text-align:left;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
}
LI.p-Plain-Text {
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
                 text-align:left;
                 font-family:Courier New;
                 font-size:8pt;
}
BODY {
      font-family:Arial;
      font-size:8pt;
      color:#3e1883;
      background-repeat:No-Repeat;
      background-attachment:scroll;
      background-color:#ffffff;
}
LI.kadov-H1 {
             font-weight:bold;
             font-family:"Trebuchet MS"  , sans-serif;
             font-size:14pt;
             color:#ffffff;
}
LI.kadov-H2 {
             font-weight:bold;
             font-size:18.0pt;
}
LI.kadov-H3 {
             font-weight:bold;
             font-size:14.0pt;
}
LI.kadov-H4 {
             font-weight:bold;
             font-size:12.0pt;
}
LI.kadov-H5 {
             font-weight:bold;
             font-size:10.0pt;
}
LI.kadov-H6 {
             font-weight:bold;
             font-size:8.0pt;
}
LI.kadov-P {
            font-size:10pt;
            color:#000000;
            font-weight:normal;
}
A.expandspot {
              cursor:hand;
              font-style:italic;
              color:#800000;
              text-decoration:none;
}
SPAN.expandtext {
                 font-style:italic;
                 font-weight:normal;
                 color:#800000;
}
A.dropspot {
            cursor:hand;
            color:#800000;
            x-on-hover:glow(color=#0000ff);
            font-style:italic;
            font-weight:normal;
            text-decoration:none;
}
A.glossterm {
             color:#800000;
             cursor:hand;
             font-style:italic;
             text-decoration:none;
}
SPAN.glosstext {
                font-style:italic;
                font-weight:normal;
                color:#800000;
}
OL {
    margin-top:0px;
    margin-bottom:0px;
}
UL {
    margin-top:0px;
    margin-bottom:0px;
}
A:visited {
           color:#4040ff;
           x-on-hover:glow(color=#ffffdf);
}
A:link {
        color:#000097;
        x-on-hover:glow(color=#ffffdf);
}
DIV.droptext {
              color:#800000;
              font-style:italic;
              font-weight:normal;
}
A.DROPSPOT:ACTIVE {
                   font-style:italic;
                   font-weight:normal;
}
A.DROPSPOT:HOVER {
                  font-style:italic;
                  font-weight:normal;
}
A.DROPSPOT:LINK {
                 font-style:italic;
                 font-weight:normal;
}
A.DROPSPOT:VISITED {
                    font-style:italic;
                    font-weight:normal;
                    color:#800080;
}
SPAN.DropDownText {
                   font-style:italic;
                   font-weight:normal;
                   color:#800000;
}
p.Graphic {
           margin-right:6.50pt;
           text-align:left;
           font-family:Arial;
           font-weight:normal;
           font-size:8pt;
           color:#3e1883;
           background-color:Transparent;
           line-height:11.5pt;
           margin-left:12px;
           margin-top:8.5pt;
           margin-bottom:8.5pt;
}
LI.p-Graphic {
              text-align:left;
              font-family:Arial;
              font-weight:normal;
              font-size:8pt;
              color:#3e1883;
              line-height:11.5pt;
}
p.SeeAlso {
           margin-right:6.50pt;
           text-align:left;
           font-family:Arial;
           font-weight:normal;
           font-size:8pt;
           color:#3e1883;
           background-color:Transparent;
           line-height:11.5pt;
           margin-left:12px;
           margin-bottom:4pt;
           margin-top:6.5pt;
}
